<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLBanGiayDepThuongHieuYAME2.Properties.Settings.QLBanGiayDepConnectionString" connectionString="Data Source=DESKTOP-TIENDUN\SQLEXPRESS;Initial Catalog=QLBanGiayDep;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QLBanGiayDepThuongHieuYAME2.Properties.Settings.banhangConnectionString" connectionString="Data Source=DESKTOP-TIENDUN\SQLEXPRESS;Initial Catalog=banhang;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QLBanGiayDepThuongHieuYAME2.Properties.Settings.QLBanGiayDepConnectionString1" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLBanGiayDep;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
<startup useLegacyV2RuntimeActivationPolicy = "true">
</startup>